<a id="top-link" href="#">
    <div id="top-link-parenthesis">
        <div id="top-link-triangle"></div>
    </div>
</a>

<address id="contact">
    Contact us directly at <a href="mailto:info@techaltar.com">info@techaltar.com</a>.<br>
    1600 Amphitheater<br>
    Parkway, Mountain View, <br>
    CA, United States. <br>
    <a href="tel:+421/0210.124.24.12">+421/0210.124.24.12</a>.
</address>
<p>
    <small><time datetime="2021-03-12">2021</time> Electronics Art Corporation &copy;</small>
</p>

<div id="watermark">
    <p>Ruja</p>
    <p>Romulus-Emanuel</p>
</div>