body {
    --search-bar-height: 5vh;

    display: flex;
    flex-direction: column;
    margin-top: calc(var(--menu-height) + var(--search-bar-height));
    min-height: calc(100vh - var(--menu-height) - var(--search-bar-height));
}

main {
    flex-grow: 1;
}

#products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    grid-row-gap: 0.7rem;
    grid-column-gap: 0.7rem;
}

.product {
    background-color: var(--third-color);
    font-weight: 600;
    border-radius: 0.35rem;
}

@media screen and (max-width: 1000px) {
    #products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    #products-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.product-name a {
    text-transform: none;
    text-decoration: none;
}

.product-figure {
    margin: 0;
    padding: 5px;
}

.product-price,
.product-category,
.product-brand,
.product-chipset,
.product-release {
    font-size: smaller;
}

.input-group {
    border: 0;
}

#filter-switch-button img {
    z-index: 1000;
    position: fixed;
    top: var(--menu-height);
    right: 0.3rem;
    opacity: 0.25;
    border-radius: 20%;
    background-color: white;
    max-width: 32px;
    max-height: 32px;
    width: 5vw;
    height: auto;
    transition: 0.3s;
}

#filters-section {
    background-color: var(--primary-color);
    position: fixed;
    z-index: 900;
    height: 0px;
    width: 100%;
    overflow: hidden;
    top: var(--menu-height);
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: var(--menu-height);
    left: 0;
    right: 0;
    min-height: var(--search-bar-height);
    background-color: var(--secondary-color);
    width: 100%;
}

#search-bar-input {
    flex-basis: 65%;
    min-height: calc(var(--search-bar-height) - 1.5vh); 
}

#search-bar-input::placeholder {
    color: var(--light-green);
    opacity: 0.35;
    text-align: center;
}

#filters-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.filter-section {
    padding-left: 0.5rem;
}

#filters-section section {
    padding-bottom: 0.5rem;
}

#filter-switch-button img:hover {
    opacity: 1;
    transition: 0.3s;
}

#filters-section h2,
#products-section h2 {
    text-transform: uppercase;
    font-size: larger;
    margin-bottom: 0.4rem;
}

@media screen and (max-width: 1000px) {
    .basic-button {
        font-weight: normal;
        font-size: smaller;

        margin-left: 0.35rem;
        margin-right: 0.35rem;
    }
}

@media screen and (max-width: 576px) {
    .basic-button {
        margin: 0;
    }
}

#brand-filter-group label,
#returnable-filter-group label {
    margin-left: 5px;
    border-right: 1px solid var(--light-grey);
}

#brand-filter-group label:last-of-type,
#returnable-filter-group label:last-of-type {
    border-right: 0;
}

#price-filter-selector {
    background-color: var(--secondary-color);
    color: var(--light-grey);
}

#filter-buttons-section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
