<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="/public/stylesheets/error-page.css" type="text/css">
    <link rel="stylesheet" href="/public/stylesheets/403.css" type="text/css">

        <title>Error 403</title>
</head>

<body >
    <header>
        
        <%- include ('../partials/nav') %>
        <h1>Error 403</h1>
    </header>

    <main>
        <div>
            <p>Oops...</p>
            <p>It seems you do not have permission to access this resource.</p>
        </div>
        
    </main>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>

</html>