<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>

    <title>Terms of use</title>
</head>

<body>
    <header>
        <%- include ('../partials/nav') %>
    </header>

    <main>
        <h1>Terms of use and Privacy Policy</h1>
        <section id="terms">
            <h2>Terms of use</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa nobis totam ipsum et tempore facere voluptatem obcaecati doloremque commodi quo. Voluptatem fugiat, quo officia fuga obcaecati odio blanditiis eum pariatur.
                Nemo possimus sapiente inventore nobis sequi consequuntur tempora odio blanditiis temporibus ea dignissimos fugiat, aliquid culpa ad commodi aspernatur praesentium quasi odit, iusto, quo est reprehenderit. Iusto sed accusantium numquam.
                Autem cupiditate exercitationem accusamus harum beatae recusandae natus quae labore repellendus officiis totam neque porro ducimus, soluta pariatur reiciendis at praesentium, itaque non quis. Quisquam expedita libero labore voluptatem eveniet.
            </p>
        </section>
        <section id="privacy">
            <h2>Privacy Policy</h2>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa nobis totam ipsum et tempore facere voluptatem obcaecati doloremque commodi quo. Voluptatem fugiat, quo officia fuga obcaecati odio blanditiis eum pariatur.
                Nemo possimus sapiente inventore nobis sequi consequuntur tempora odio blanditiis temporibus ea dignissimos fugiat, aliquid culpa ad commodi aspernatur praesentium quasi odit, iusto, quo est reprehenderit. Iusto sed accusantium numquam.
                Autem cupiditate exercitationem accusamus harum beatae recusandae natus quae labore repellendus officiis totam neque porro ducimus, soluta pariatur reiciendis at praesentium, itaque non quis. Quisquam expedita libero labore voluptatem eveniet.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa nobis totam ipsum et tempore facere voluptatem obcaecati doloremque commodi quo. Voluptatem fugiat, quo officia fuga obcaecati odio blanditiis eum pariatur.
                Nemo possimus sapiente inventore nobis sequi consequuntur tempora odio blanditiis temporibus ea dignissimos fugiat, aliquid culpa ad commodi aspernatur praesentium quasi odit, iusto, quo est reprehenderit. Iusto sed accusantium numquam.
                Autem cupiditate exercitationem accusamus harum beatae recusandae natus quae labore repellendus officiis totam neque porro ducimus, soluta pariatur reiciendis at praesentium, itaque non quis. Quisquam expedita libero labore voluptatem eveniet.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa nobis totam ipsum et tempore facere voluptatem obcaecati doloremque commodi quo. Voluptatem fugiat, quo officia fuga obcaecati odio blanditiis eum pariatur.
                Nemo possimus sapiente inventore nobis sequi consequuntur tempora odio blanditiis temporibus ea dignissimos fugiat, aliquid culpa ad commodi aspernatur praesentium quasi odit, iusto, quo est reprehenderit. Iusto sed accusantium numquam.
                Autem cupiditate exercitationem accusamus harum beatae recusandae natus quae labore repellendus officiis totam neque porro ducimus, soluta pariatur reiciendis at praesentium, itaque non quis. Quisquam expedita libero labore voluptatem eveniet.
        </section>
    </main>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>

</html>